.experience-content {
  //border: 2px solid purple;
  display: flex;
  flex-direction: column;
}

.experience-jobs {
  max-width: 1200px;
}

.experience-title {
  text-align: center;
}

@media (min-width: 1200px) {
  .experience-content {
    align-items: center;
    justify-content: center;
  }
  .experience-jobs {
    width: 1200px;
  }
} 
