.projects-content {
  display: flex;
  flex-direction: column;
}

.projects-header {
   display: inline;
/*  display: flex;
  flex-direction: row;*/
}

.projects-header > li {
  display: inline;
  margin: 8px;
}
.projects-header > li > a {
  position: relative;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}


.active:hover {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  transform: scaleX(1);
}

.projects-header > li > a:hover {
  color: #000;
}

.projects-header > li > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.projects-header > li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.projects-grid {
  border: 5px solid purple;
  height: 100vh;
}

.project-filter {
  //border: 5px solid green;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 16px;
}
.project-filter > span {
  padding: 8px;
}

.project-filter > select {
  min-width: 125px;
}

.project-filter > select > option {
    text-decoration: none;
  text-transform: capitalize;
}

.project-filter > select {
    text-decoration: none;
  text-transform: capitalize;
}

@media(max-width: 1280px) {
  .projects-grid {
    height: auto;
  }
}