.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects-header {
   display: inline;
   padding-left: 0;
   font-weight: bold;
}

.projects-header > li {
  display: inline;
  margin: 8px;
}
.projects-header > li > a {
  position: relative;
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
}


.active:hover {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(1);
}

.projects-header > li > a:hover {
  color: #FFF;
}

.projects-header > li > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.projects-header > li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.projects-header-filter-and-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}


.custom-select {
  border: 2px solid var(--white);
  border-radius: 4px;
  background: none;
  color: var(--white);
  font-family: 'Barlow';
  font-size: 20px;
}

.custom-option {
  color: var(--black);
}

.projects-grid {
  border: 5px solid purple;
  min-height: 100vh;
  min-width: inherit;
  width: inherit;
}

.project-filter {
  justify-content: flex-end;

  display: flex;
}
.project-filter > span {
  padding: 8px;
}

.project-filter > select {
  min-width: 125px;
}

.project-filter > select > option {
    text-decoration: none;
  text-transform: capitalize;
}

.project-filter > select {
    text-decoration: none;
  text-transform: capitalize;
}




@media(max-width: 375px) {
  .projects-header {
    margin: 0px;
    font-size: 14px;
    padding: 16px;
  }
}

