.projects-content {
  display: flex;
  flex-direction: column;
}

.projects-header {
   display: inline;
/*  display: flex;
  flex-direction: row;*/
}

.projects-header > li {
  display: inline;
  margin: 8px;
}
.projects-header > li > a {
  position: relative;
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
}

.projects-header > li > a:hover {
  color: #FFF;
}

.projects-header > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.projects-header > li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.projects-grid {
  background: purple;
  height: 100vh;
}