.skills-content {
  border: 2px solid purple;
}

.skills-title {
  text-align: center;
}

.skills-stats {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
}

.skills-progress-bars {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.skills-progress-bars > h3 {
  text-align: center;
  width: 100%;
}

.skills-progress-bars-content {
  width: 100%;
}

.skills-pie-chart
{
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
  //border: 2px solid blue
}

@media (min-width: 1200px) {
  .skills-stats {
    flex-direction: row;
  }
  .skills-progress-bars-content {
    width: 600px;
  }
} 