.skills-content {
  //border: 2px solid #5726FF;
  width: 100%;
}

.skills-title {
  text-align: center;
}

.skills-stats {
  //border: 2px solid blue;
  display: flex;
  flex-direction: row;
}

.skills {
  //border: 2px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-progress-bars > h3 {
  text-align: center;
  width: 100%;
}


.skills-pie-chart
{
  //border: 2px solid pink;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
}


@media(max-width: 1112px) {
  .skills {
    padding-right: 0;
    display: flex;
    align-items: center;
  }
  .skills-stats {
    flex-direction: column;
  }
  .skills-progress-bars-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
  }
}




