.welcome-page-content {
  border: 5px solid green;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.welcome-page-top {
  border: 5px solid orange;
  width: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.welcome-page-windows {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  width: inherit;
  justify-content: space-between;
  height: 100%;
  border: 5px solid pink;
}

.welcome-page-bottom {
  border: 5px solid blue;
  position: absolute;
  bottom: 0;
}

.welcome-page-terminal {
  position: relative;
  top: -8px;
}

.welcome-page-trello {
  //border: 5px solid red;
  position: relative;
  top: 8px;
}

@media (max-width: 1280px) {
  .welcome-page-content {
    height: auto;
  }
  .welcome-page-windows {
    flex-direction: column;
    align-items: center;
  }

  .welcome-page-trello {
    margin-bottom: 1rem;
    position: relative;
    top:0;

  }
  .welcome-page-terminal {
    margin-bottom: 1rem;
    position: relative;
    top: 0;
  }
  .welcome-page-top {
    padding: 1rem;
  }
  .welcome-page-bottom {
    display: none;
  }

}