.ProgressBar-content {
  //border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}

.ProgressBar-label {
  padding: 8px;
  //border: 1px solid orange;
  min-width: 200px;
}

.ProgressBar-label > h6 {
  margin: 0;
  padding: 0;
}

.ProgressBar-value {
  padding: 8px;
  min-width: 200px;
  //border: 1px solid violet
}

@media (min-width: 1200px) {
  .ProgressBar-content {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
} 