.ProgressBar-content {
  //border: 1px solid green;
  display: flex;
  flex-direction: column;
}

.ProgressBar-label {
  padding: 8px;
  //border: 1px solid blue;
}

.ProgressBar-value {
  padding: 8px;
  min-width: 200px;
}

@media (min-width: 1200px) {
  .ProgressBar-content {
    flex-direction: row;
    align-items: center;
  }
} 