.project-cell-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 175px;
  border: 2px solid var(--primary);
  border-radius: 5px;
}

.project-cell-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
