.about-me-content {
  border: 5px solid blue;
  width:  100%;
  height:  100%;
  gap: 0px 0px;
  display: grid;
  box-sizing: border-box;
  grid-template-rows: auto auto;
}

.about-me-infos {
  border: 5px solid orange;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 24px;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;
}

.about-me-avatar {
  //border:  5px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-icons {
  //border: 5px solid red;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style-type: none;
}

.about-me-text {
  //border: 5px solid greenyellow;
  text-align: left;
  line-height: 1.5em;
}

.icons {
  color: var(--dark);
}

.icons:hover {
  color: var(--grey);
}

.about-me-avatar-img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 5px solid var(--dark);
  margin-bottom: 8px;
}

@media(max-width: 768px) {
  .about-me-content {
    gap: 0;
  }
  .about-me-infos {
    grid-template-rows: 0.60fr 1fr;
    grid-template-columns: 1fr;
    gap: 8px;
  }
}