.about-me-content {
  //border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-infos {
  //border: 5px solid orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.about-me-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px;
}

.about-me-icons {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style-type: none;
}

.about-me-text {
  text-align: left;
  line-height: 1.5em;
}

.icons {
  color: var(--dark);
}

.icons:hover {
  color: var(--grey);
}

.about-me-avatar-img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 5px solid var(--dark);
  margin-bottom: 8px;
}


@media(max-width: 1500px) {
  .about-me-infos {
    width: 85%;
  }
}

@media(max-width: 1200px) {
  .about-me-infos {
    width: 90%;
  }
  .about-me-text {
    line-height: 1.25em;
  }
}


@media(max-width: 768px) {
  .about-me-text {
    text-align: center; 
  }
  .about-me-infos {
    flex-direction: column;
  }
}