.education-content {
  //border: 2px solid purple;
}

.education-container {
  //border: 2px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media(max-width: 921px) {
  .education-container {
    flex-direction: column;
    gap: 32px;
    padding-bottom: 1rem;
    justify-content: space-around;
    align-items: center;
  }
}