.experience-content {
  //border: 2px solid purple;
  display: flex;
  flex-direction: column;
  gap:  16px 0px;
  line-height: 1.5;
    font-size: 20px;
}

.experience-jobs {
  //border: 2px solid blue;
  padding: 32px 0;
  max-width: 100%;
}

.experience-title {
  text-align: center;
}

