.experience-content {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  font-size: 20px;
  gap: 0px 0px;
}

.experience-jobs {
  border: 2px solid blue;
  //padding: 64px 0;
  max-width: 100%;
}

.experience-title {
  text-align: center;
}


@media(max-width: 768px) {
  .experience-content {
    gap: 0px 0px;
    //border: 2px solid orange;
  }
}
