.experience-content {
  //border: 2px solid purple;
  display: flex;
  flex-direction: column;
  gap:  16px 0px;
}

.experience-jobs {
  max-width: 100%;
}

.experience-title {
  text-align: center;
}

