.footer-content {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  background: rgba(4,23,70,1);
  padding-bottom: 2rem;
}

.footer-up {
  z-index: 2;
  display: flex;
  justify-content: center;
  position: relative;
  border: 2px solid var(--white);
  border-radius: 2px;
  width: 50px;
  top: -40px;
}

.footer-tel {
  width: 30%;
}

.about-website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.designed-by {
  font-size: 20px;
}