.footer-content {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  background: #ce102c;
  padding-bottom: 4rem;
}

.footer-up {
  display: flex;
  justify-content: center;
  position: relative;
  border: 2px solid var(--white);
  border-radius: 2px;
  width: 50px;
  top: -20px;
}

.footer-tel {
  width: 30%;
}

.about-website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}