.projects-content {
  //border:  2px solid green;
  display: grid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  gap:  16px 0px;
  grid-template-rows: auto auto;
}

.projects-header {
  //border:  2px solid red;
  display: flex;
  align-content: center;
  padding-left: 0;
  font-weight: bold;
}

.projects-header > li {
  display: inline;
  margin: 8px;
}

.projects-header > li:first-of-type {
  display: inline;
  margin: 8px 8px 8px 0;
}

.projects-header > li > a {
  position: relative;
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
}


.active:hover {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(1);
}

.projects-header > li > a:hover {
  cursor: pointer;
  color: #FFF;
}

.projects-header > li > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.projects-header > li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.projects-header-filter-and-stats {
  //border:  2px solid blueviolet;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
}

.projects-grid-header {
  //border:  2px solid greenyellow;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-grid {
  //border: 2px solid brown;
  display: grid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  gap: 16px 0px;
  grid-template-rows: auto auto auto;
}

.projects-load-more {
  //border: 2px solid darkcyan;
  cursor:  pointer;
  display: flex;
  justify-content: center;
}

.project-filter {
  //border:  2px solid orangered;
  justify-content: flex-end;
  padding: 8px 8px 8px 0;
  display: flex;
}

.projects-stat {
  //border: 2px solid blue;
}

.load-more-button {
  border: 2px solid white;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
  color:  white;
}

.load-more-button:hover {
  color:  white;
}

.project-filter > span {
  padding-right:  8px;
}

.project-filter > select {
  min-width: 125px;
}

.project-filter > select > option {
    text-decoration: none;
  text-transform: capitalize;
}

.project-filter > select {
  text-decoration: none;
  text-transform: capitalize;
}



@media(max-width: 1000px) {
  .projects-header {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    
  }
}


@media(max-width: 375px) {
  .projects-header {
    font-size: 14px;
  }
}

