.projects-content {
  //border:  2px solid green;
  display: grid;
  box-sizing: border-box;
  width: 100%;
  grid-template-rows: auto auto;
}

.projects-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background-layout);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(197px);
  border-radius: 12px;
  padding: 12px;
  gap: 18px;
}

.projects-header {
  //border:  2px solid red;
  //width: 50%;
  display: flex;
  align-content: center;
  padding-left: 0;
  font-weight: bold;
}

.projects-header > li {
  display: inline;
  margin: 8px;
}

.projects-header > li:first-of-type {
  display: inline;
  margin: 8px 8px 8px 0;
}

.projects-header > li > a {
  position: relative;
  color: var(--text-primary);
  text-decoration: none;
  text-transform: capitalize;
}


.active:hover {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: var(--white);
  visibility: hidden;
  transform: scaleX(1);
}

.projects-header > li > a:hover {
  cursor: pointer;
  color: var(--text-primary);
}

/*only for desktop */
.projects-header-selected {
  padding: 6px;
  border-radius: 3px;
  border: 2px solid var(--white);
}

.projects-header > li > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 0;
  background-color: var(--white);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.projects-header > li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.projects-header-filter-and-stats {
  //border:  2px solid blueviolet;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
}

.projects-grid-header {
  //border:  2px solid greenyellow;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-grid {
  padding-top: 32px;
  //border: 2px solid brown;
  display: grid;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  grid-template-rows: auto auto auto;
}

.projects-load-more {
  //border: 2px solid darkcyan;
  cursor:  pointer;
  display: flex;
  justify-content: center;
}

.project-filter {
  //border:  2px solid orangered;
  align-content: center;
  justify-content: flex-end;
  padding: 8px 8px 8px 0;
  display: flex;
}

.project-tag-label {
  //border: 2px solid green;
  display: flex;
  align-self: center;
}

.projects-stat {
  //border: 2px solid blue;
}

.load-more-button {
  border: 2px solid var(--white);
  border-radius: 5px;
  padding: 12px;
  text-decoration: none;
  color:  var(--text-primary);
}

.load-more-button:hover {
  color:  var(--text-primary-dark);
  background: var(--white);
}

.project-filter > span {
  padding-right:  8px;
}

.project-filter > select {
  min-width: 125px;
}

.project-filter > select > option {
  text-decoration: none;
  text-transform: capitalize;
}

.project-filter > select {
  text-decoration: none;
  text-transform: capitalize;
}



@media(max-width: 1000px) {
  .projects-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--background-layout);
    border-radius: 12px;
    padding: 8px;
    width: calc(100% - 16px);
  }

  .projects-header {
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
  }
  
  .projects-header-content {
    //width: 100%;
    overflow: auto;
    display: flex;
    align-items: flex-start;
  }
}


@media(max-width: 375px) {
  .projects-header {
    font-size: 14px;
  }
  .projects-header-filter-and-stats {
    font-size: 14px;
  }
}

