.skills-content {
  //border: 2px solid #5726FF;
  width: 100%;
}

.skills-stats {
  //border: 2px solid blue;
  display: flex;
  flex-direction: row;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.skills-pie-chart
{
  //border: 2px solid pink;
  max-width: 85%;
  padding-bottom: 2rem;
}



