.skills-content {
  //border: 2px solid #5726FF;
  width: 100%;
}

.skill-categories {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 32px 32px;
  grid-template-areas:
    ". Front Front Front Front Front Back Back Back Back Back ."
    ". Languages Languages Languages Languages Languages Tools Tools Tools Tools Tools ."; 
  //border: 2px solid red;
}

.skills-front { grid-area: Front; }
.skills-back { grid-area: Back; }
.skills-languages { grid-area: Languages; }
.skills-tools { grid-area: Tools; }


@media(max-width: 401px) {
  .skill-categories {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 8px 8px;
    grid-template-areas:
      ". Front Front Front Front Front Front Front Front Front Front ."
      ". Back Back Back Back Back Back Back Back Back Back ."
      ". Languages Languages Languages Languages Languages Languages Languages Languages Languages Languages ."
      ". Tools Tools Tools Tools Tools Tools Tools Tools Tools Tools .";

    //border: 2px solid red;
  }
}