.welcome-page-content {
  //border: 5px solid green;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.first-gradient {
  position: relative;
  //background: rgb(4,23,70);
  //background: linear-gradient(356deg, rgba(4,23,70,1) 67%, rgba(48,33,93,1) 79%, rgba(122,33,97,1) 97%);
}

.welcome-page-text {
  //border: 5px solid purple;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.three-js-view {
  //border:  2px solid red;
  height: 40%
}


/*.about-me-wave-hand {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
*/