.welcome-page-content {
  //border: 5px solid green;
  position: relative;
  height: 300vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.title-relative {
  postion: relative;
  top: 60px;
}

.first-gradient {
  position: relative;
  background: rgb(4,23,70);
  background: linear-gradient(356deg, rgba(4,23,70,1) 67%, rgba(48,33,93,1) 79%, rgba(122,33,97,1) 97%);
}




//
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2.5fr 1fr 1fr;
  gap: 200px 0px;
  grid-template-areas:
    "Title Title Title Title Title Title Title Title Title Title Title Title"
    "TextFullStack TextFullStack TextFullStack TextFullStack TextFullStack TextFullStack terminal terminal terminal terminal terminal terminal"
    "trello trello trello trello trello trello textCTO textCTO textCTO textCTO textCTO textCTO";
}
.Title { grid-area: Title; }
.TextFullStack { grid-area: TextFullStack; }
.terminal { grid-area: terminal; }
.trello { grid-area: trello; }
.textCTO { grid-area: textCTO; }



/*.about-me-wave-hand {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
*/