.welcome-page-infos-content {
  //border: 5px solid green;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}


.welcome-page-infos-grid-container {
  width: 100%;
  height: 100%;
  //border: 2px solid orange;
  gap:  200px 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "TextFullStack TextFullStack TextFullStack TextFullStack TextFullStack TextFullStack TextFullStack terminal terminal terminal terminal terminal"
    "trello trello trello trello trello trello trello textCTO textCTO textCTO textCTO textCTO";
}

.welcome-page-title {
  padding-bottom: 2rem ;
  font-weight: bold;
}

.textFullStack {
  grid-area: TextFullStack;
  //border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.terminal {
  grid-area: terminal;
 //border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trello {
  grid-area: trello;
  //border: 2px solid purple;
}

.textCTO {
  grid-area: textCTO;
  //border: 2px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media(max-width: 1151px) {
  .welcome-page-infos-grid-container {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 0 12px;
    grid-template-areas: none;
  }
  .textFullStack {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .terminal {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .trello {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
    
  }
  .textCTO {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
