.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
}

.icons {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  list-style-type: none;
}

.text {
  text-align: center;
}

.avatar-img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 5px solid var(--dark);
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .about-me-content {
    flex-direction: row;
    justify-content: center
  }
  .text {
    width: 600px;
    text-align: left;
  }
  .avatar {
    align-items: center;
    width: 350px;
  }
} 