.App {
  background: #111417;
}

.App-container {
  padding: 16px;
  //border: 2px solid blue;
}

#blue {
  border: 1px solid blue;
}


#green {
  border: 1px solid green;
}


#red {
  border: 1px solid red;
}