.App {
  background: #111417;
}

.App-container {
  //padding: 16px;
  //border: 2px solid blue;
}

#blue {
  border: 1px solid blue;
}


#green {
  border: 1px solid green;
}


#red {
  border: 1px solid red;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

.background--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 90%;
}