.header-container {
  //border:  2px solid darkgoldenrod;
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-separator {
  border: 1px solid white;
  height: 32px;
  margin: 0 8px;
}

.header-links > select {
  height: 32px;
  width: 120px;
}

.header-name {
  //border: 5px solid green;
}

.header-name {
  padding: 8px;
  font-weight: bold;
}

.header-links {
  //border: 5px solid blue;
  display: flex;
  align-items: center;
}

.header-links > a {
  padding: 8px;
}

.header-links: hover {
  color: var(--grey);
}

@media(max-width: 768px) {
  .header-name {
    display: none;
  }
  .header-container {
    justify-content: flex-end;
  }
}