/* Container around content */
.job-container {
  //border: 2px solid green;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  
}

.job-content {
  background: rgba(33, 27, 40, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(197px);
  border-radius: 12px;
   display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.25fr 1fr 0.25fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header Header Header Header Header Header Header Header Header"
    "Image Image Text Text Text Text Text Text Text Text"
    "Image Image Footer Footer Footer Footer Footer Footer Footer Footer"; 
  //border: 5px solid var(--white);
  padding: 16px;
}

.job-header {
  grid-area: Header;
  //border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-image {
  grid-area: Image;
  //border: 2px solid orange;
}

.job-body {
  grid-area: Text;
  //border: 2px solid purple;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.job-footer {
  grid-area: Footer;
  //border: 2px solid brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}


/* The circles on the timeline */
.job-container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: 2px solid var(--dark);
  top: 27px;
  border-radius: 50%;
  z-index: 1;
}

.job-container::before {
  left: 60px;
  border: medium solid var(--primary);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--primary) transparent transparent;
  }

  /* Place the container to the right */
.job-right {
  left: 0%;
}

/* Add arrows to the right container (pointing left) */
.job-right::before {
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 10;
  left: 25px;
  border-width: 15px 15px 15px 0;
  //content: " ";
  //border-color: transparent var(--white) transparent transparent;
}

/* Fix the circle for containers on the right side */
.job-right::after {
  left: -13px;
}

.job-card-header < a:hover {
  color: var(--black);
}

.job-company {
  color: var(--dark);
}

.job-company:hover {
  color: var(--grey);
}

.job-card-header > h5 {
  margin: 0;
}



.job-company-name {
  padding-right: 8px;
}


@media(max-width: 768px) {
  .job-card-header {
    flex-direction: column;
    justify-content: center;
  }
  .job-body-content > ul {
    padding-left: 0;
  }
}
