/* Container around content */
.job-container {
  /*border: 2px solid green;*/
  padding: 0px 40px;
  position: relative;
  background-color: inherit;
}

/* The circles on the timeline */
.job-container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid green;
  top: 27px;
  border-radius: 50%;
  z-index: 1;
}

.job-container::before {
  left: 60px;
  border: medium solid purple;
  border-width: 10px 10px 10px 0;
  border-color: transparent orange transparent transparent;
  }

  /* Place the container to the right */
.job-right {
  left: 0%;
}

/* Add arrows to the right container (pointing left) */
.job-right::before {
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 10;
  left: 25px;
  border-width: 15px 15px 15px 0;
  /*content: " ";*/
  /*border-color: transparent var(--white) transparent transparent;*/
}

/* Fix the circle for containers on the right side */
.job-right::after {
  left: -13px;
}