.project-cell-content {
  display: block;
  height: 300px;
  min-width: 300px;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 8px;
}

.project-cell-image {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-cell-details {
  opacity: 0;
  background: #17181782;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -310px;
  width: 100%;
  height: calc(100% + 10px);
}


.project-cell-name {
  //border: 2px solid blue;
  font-size: 42px;
  font-weight: bold;
  font-family: "Barlow-Black";
  //text-shadow: 0px 0px 8px #9F36B9;
  width: inherit;
  height: 50%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.project-cell-gray {
  filter: grayscale(100%);
}

.project-cell-buttons {
  //border: 2px solid purple;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0px;
}


.project-cell-button {
  border-radius: 2px;
  color: var(--white);
  background: var(--text-primary-dark);
}

.project-cell-button-disabled {
  border-radius: 2px;
}

.project-cell-button {
  padding: 0 0.5rem;
}

.project-cell-button:hover, .project-cell-button:active {
  background: var(--grey);
  color: var(--white);
}

.project-cell-tags {
  //border: 2px solid orange;
  margin: 5px 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.project-cell-tag {
  margin: 2px;
  padding: 5px;
  min-width: 50px;
  border: 2px solid var(--white);
  border-radius: 1.5rem;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}


.strikeout {
  font-size: 1em;
  line-height: 1em;
  position: relative;
}

.strikeout::after {
  border-bottom: 0.25em solid black;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

@media (max-width: 1024px) {
  .project-cell-details {
    opacity: 1.0;
  }
}