.school-container {
  //border: 2px solid aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background: var(--background-layout);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(197px);
}

.school-image {
  border-radius: 10px;
  width:  128px;
}

.school-image-container {
  //border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.school-title-container {
  //border: 2px solid green;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.school-detail-container {
  //border: 2px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


