@import "tailwindcss";
@plugin "daisyui";


@font-face {
  font-family: "Kupertino";
  src: local("Kupertino"),
    url("/fonts/KupertinoPersonalUse.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("/fonts/Montserrat-Regular.ttf") format("truetype");
}


@layer base {
  html {
    font-family: Montserrat;
  }
}


@plugin "daisyui/theme" {
  name: "guillaume";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(24% 0 0);
  --color-base-200: oklch(31% 0 0);
  --color-base-300: oklch(38% 0 0);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: #9D5CFF;
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: #F0A500;
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: #FF007A;
  --color-accent-content: oklch(98% 0.026 102.212);
  --color-neutral: oklch(14% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

@utility btn {
  border: 3px solid black;
  border-radius: 4px;
}


@theme {
  --font-display: "Kupertino", "sans-serif"; 
}

.gradient-blue {
  width: 120px;
  height: 120px;
  background: greenyellow;
  border-radius: 4px;
  border: 2px solid goldenrod;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacer {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  position: relative;
  height: 120vh;
  min-height: 800px;
}

.container {
  position: absolute;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed blueviolet;
  border-radius: 10px;
}

.initial {
  left: 60%;
  top: 10%;
}

.box {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.second {
  left: 10%;
  top: 40%;
}

.marker {
  border-radius: 10px;
}

.second .marker {
  width: 100px;
  height: 100px;
}

.third {
  right: 10%;
  top: 100%;
}

.third .marker {
  width: 100px;
  height: 100px;
}
